# Ignore image files in the entire repository
*.jpg
*.jpeg
*.png
*.pdf

# Optionally ignore images in specific folders
public/images/*.jpg
public/images/*.png

# Ignore the 'image' and 'file' directories at the root level
/image
/file
